body
    background: black
    margin: 0

.grid-view
    .grid-row
        clear: both

        .cell
            height: 5px
            width: 5px
            float: left
            border-radius: 2px

        .live0
            background: #400
        .live1
            background: #600
        .live2
            background: #800
        .live3
            background: #a00
        .live4
            background: #d00
        .live5
            background: #f00
        .live6
            background: #f20
        .live7
            background: #f40
        .live8
            background: #f80

        .dead
            background: black
